XML/ejerciciosClase/ej5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="alumnos">
    <xs:complexType>
        <xs:element name="ciudad" type="xs:string"/>  
        <xs:element name="fecha" type="xs:date"/>
        <xs:element name="hora" type="xs:time"/>
        <xs:element name="nota" type="xs:double"/> 
        <xs:element name="apto" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
